#race, #buttons {
    display: none;
}

#race-drivers select {
    width: auto !important;
    padding: 0px !important;
}
.mins, .secs, .millis {
    float: left;
}
.form-control {
    padding: 2px;
}